[[define "content"]]
<div class="wrapper_center">
    <form id="loginForm">
        <h1 id="litheader" class="poweron">Golang IDE</h1>
        <div class="inset">
            <input type="text" id="username" name="username"  placeholder="Username"  required autofocus/><br/>
            <input type="password" id="password" name="password" type="password" placeholder="Password"/><br/>
            <p class="p-container">
                <input type="submit" name="Login" id="loginBtn" value=[[.i18n.login]]>
            </p>
            <p class="login__signup">Don't have an account? &nbsp;<a href="[[.conf.Context]]/signup">Sign up</a></p>
        </div>
    </form>
    <div class="footer">
        <span class="wrapper">
            Ver [[.ver]], &copy; [[.year]]
        </span>
    </div>
</div>
<script type="text/javascript">
    $.when( $.ready ).then(function() {
        $('#loginForm').submit(function () {
            //console.log("submit");
            //$('#litheader').addClass("poweron");
            // $.ajax({
            //     method: "POST",
            //     url: "[[.conf.Context]]/login'",
            //     dataType: 'json',
            //     data: {
            //         username: $.trim($("#username").val()),
            //         password: $.trim($("#password").val())
            //     }
            // })
            //     .done(function( msg ) {
            //         alert( "Data Saved: " + msg );
            //     });
            $.post( "[[.conf.Context]]/login", $( "#loginForm" ).serialize() )
                .done(function( data ) {
                    if (!data.result) {
                        console.log('[[.i18n.login_error]]');
                        $("#loginBtn").val('[[.i18n.login_error]]');
                        $('#loginBtn').addClass("denied");

                        setInterval(function () {
                            $("#loginBtn").val('[[.i18n.login]]');
                            $('#loginBtn').removeClass("denied");
                        }, 3000);
                        return;
                    }
                    window.location.href = "[[.conf.Context]]/";
                });


            return false;
        });
    });
</script>
[[end]]